{% extends "email/base.html" %}

{% block title %}Password Reset Request{% endblock %}

{% block header %}Password Reset Request{% endblock %}

{% block content %}
<h2>Hi {{ user.first_name or user.username }},</h2>

<p>We received a request to reset the password for your OpenCATS account.</p>

<p>If you requested this password reset, click the button below to reset your password:</p>

<center>
    <a href="{{ reset_url }}" class="button">Reset Password</a>
</center>

<div class="info-box">
    <strong>Security Information:</strong><br>
    This link will expire in <strong>24 hours</strong> for security reasons.<br>
    If the link expires, you can request a new password reset.
</div>

<p><strong>Didn't request this?</strong><br>
If you didn't request a password reset, you can safely ignore this email. Your password will not be changed.</p>

<p>For security reasons, this reset link can only be used once.</p>

<p>Best regards,<br>
The {{ site_name }} Team</p>
{% endblock %}
